<p id="notice"><%= notice %></p>

<h1>Listing Bicycles</h1>

<%= link_to "Show all",  bicycles_path %>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Info</th>
      <th>Category</th>
      <th>Gears</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bicycles.each do |bicycle| %>
      <tr>
        <td><%= bicycle.id %></td>
        <td><%= bicycle.info %></td>
        <td><%= bicycle.category.try(:name) %></td>
        <td><%= bicycle.gears %></td>
        <td><%= bicycle.price %></td>
        <td><%= link_to 'Book now!', new_rental_path(:bike => bicycle) %> - </td>
        <td><%= link_to 'Show', bicycle %></td>
        <td><%= link_to 'Edit', edit_bicycle_path(bicycle) %></td>
        <td><%= link_to 'Destroy', bicycle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bicycle', new_bicycle_path %>
