<% if notice %>
  <div class="alert alert-success">
    <p id="notice"><%= notice %></p> 
  </div>
<% end %>

<p>
  <strong>Start date:</strong>
  <%= @rental.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @rental.end_date %>
</p>

<p>
  <strong>Email:</strong>
  <%= @rental.email %>
</p>

<p>
  <strong>Bicycle:</strong>
  <%= @rental.bicycle.id %>
</p>

<%= link_to 'Edit', edit_rental_path(@rental) %> |
<%= link_to 'Back', rentals_path %>
