<!DOCTYPE html>
<html>
  <head>
    <title>Hjolaleiga</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <%= link_to "Bicycle", bicycles_path %>
          <%= link_to "Rental", rentals_path %>
          <%= link_to "Admin", admin_rentals_path %>
          <hr />
        </div>
      </div>
      <%= yield %>
    </div> <!-- cont -->

  </body>
</html>
