<!DOCTYPE html>
<html>
  <head>
    <title>Hjolaleiga</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <%= link_to "Bicycle", bicycles_path %>
    <%= link_to "Rental", rentals_path %>
    <%= link_to "Categories", categories_path %>
    <%= yield %>

  </body>
</html>
